.classicNav {
    list-style-type: none;
    padding: 30px;
}
.navLink {
    text-decoration: none;
    
}

main{
    /* background-color: rgb(236, 211, 166); */
    background-color: #5d2c0b
}

.productList {
    margin: 5px;
}

.headerColor {
    background-color: #c07a17;
}

.buttonColor {
    color: red;
}

.bannerShadow {
    box-shadow: 10px 12px 20px 5px black;
    border: solid 5px black;
}